<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center my-3">Szabaduló játék</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>A szabaduló játék (más néven: szabadulószoba, szabadulós játék, kijutós játék, angolul: Real Escape Game) egy játék, melyben a résztvevõknek meghatározott idõn belül logikai vagy ügyességi feladatok segítségével kell kijutni egy szobából vagy szobarendszerbõl.</p>

            <h2>Kialakulása, története</h2>

            <p>
                A játék ideáját olyan, az 1990-es években megjelent, úgynevezett "room-escape" videojátékok teremtették meg, mint a Myst vagy a 999: Nine Hours, Nine Persons, Nine Doors.[1] Ezekben a játékokban még a számítógép képernyõje elõtt kellett egy bonyolult kerettörténet helyszíneirõl továbblépni, vagyis kiszabadulni. Más források az inspirációs hatások közt említik Agatha Christie krimijeinek logikai megoldásait is.[2] Több helyütt is 2006-ra datálják, és a Szilícium-völgybe helyezik az elsõ valóságos szabadulószoba indulását, ám ez vitatott,[3] ennél korábbi említést azonban nem adnak a források.
            </p>

        </div>
    </div>
    <div class="row my-3">
        <div class="col-12 col-lg-6">
            <p class="my-2">
                Magyarországon feltehetõen 2011-ben jött létre az elsõ szabadulószoba Gyurkovics Attila révén,[4] amelyben Csíkszentmihályi Mihály flow-élményének megélése volt a cél.[5] A magyarországi elterjedést követõen, 2012-tõl egy üzletileg is stabilabb, a játékmenetet tekintve fejlettebb változatban terjedt a játék elõbb Európában[6] majd jutott vissza az Amerikai Egyesült Államokba 2014-ben Koltai Balázs révén.[7] Feltehetõen ebbõl ered, hogy sokan magyar találmánynak, sõt, hungarikumnak tartják a szabadulós játékokat.
            </p>
            <h3 class="my-2">Nyitvatartás</h3>
            <ul class="my-2">
                <li>Hétköznap: 09:00 - 18:00</li>
                <li>Szombat: 08:00 - 22:00</li>
                <li>Vasárnap: zárva</li>
            </ul>
        </div>
        <div class="col-12 col-lg-6">
            <img src="../../assets/jatek.jpg" class="img-fluid my-3" alt="">
        </div>
    </div>
</div>












